<div class='container signup mt-5'>
  <div class='su mb-5'>
    <h2>Sign up</h2>
  </div>
  <div class='su-input'>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class='names'>
          <div class='fname mr-3'>
            <%= f.input :first_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "prénom" }%>
          </div>
          <div class='lname ml-3'>
            <%= f.input :last_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "nom" }%>
          </div>
        </div>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>
      <div class='su-btn'>
        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: 'btn btn-primary' %>
        </div>
      <% end %>

        <%= render "devise/shared/links" %>
      </div>
  </div>
</div>
