<%= render '/components/top-navbar-nosticky' %>

<!-- <div class="backcolor"> -->

  <div id="banner-dashboard">
    <%= cl_image_tag @event.photo %>
    <div class="countdown-col col">
      <div class="title-countdown">
        <h1> <%= @event.name %> </h1>
        <% if @event.start_date %>
          <div class="time middle">
            <span>
              <div id="d">12</div>
              Jours
            </span>
            <span>
              <div id="h">06</div>
              Heures
            </span>
            <span>
              <div id="m">35</div>
              Minutes
            </span>
            <span>
              <div id="s">02</div>
              Secondes
            </span>
          </div>
        <% end %>
<!--         <div class="container">
          <div class="avatars">
            <div id="avatar-number">6</div>
            <div class="avatar-p"></div>
            <div class="avatar-p"></div>
            <div class="avatar-p"></div>
            <div class="avatar-p"></div>
            <div class="avatar-p"></div>
            <div class="avatar-p"></div>
          </div>
        </div> -->

        <div class="container">
          <div class="avatars">
            <div id="avatar-number"><%= @event.user_events.count %></div>
            <% @event.user_events.each do |userevent| %>

              <% if userevent.user_id != nil %>
                <%= cl_image_tag userevent.user.profile_picture, class: 'avatar-p' %>
              <% end %>
            <% end %>

            <%= cl_image_tag current_user.profile_picture, class: "avatar-p" %>

          </div>
        </div>

      </div>
    </div>
  </div>

<div class="container">

<div class="row">
      <div class="col-8">
        <ul id="dashboard-nav" class="list-inline tabs-underlined">
          <li id="onglet-d">
            <i class="fas fa-tachometer-alt"></i>
            <%= link_to "Dashboard", event_path(@event), class: "tab-underlined" %>
          </li>
          <li id="onglet-d">
            <i class="fas fa-poll-h"></i>
            <%= link_to "Sondage", new_event_path, class: "tab-underlined" %>
          </li>
          <li id="onglet-d">
            <i class="fas fa-home" id="main-icon"></i>
            <%= link_to "Logement", accomodation_event_path(@event), class: "tab-underlined active" %>
          </li>
          <li id="onglet-d">
            <i class="fas fa-snowboarding"></i>
            <%= link_to "Activités", event_activities_path(@event), class: "tab-underlined" %>
          </li>
          <li id="onglet-d">
            <i class="fas fa-plane"></i>
            <%= link_to "Transport", new_event_path, class: "tab-underlined" %>
          </li>
          <li id="onglet-d">
            <i class="fas fa-piggy-bank"></i>
            <%= link_to "Cagnotte", new_event_path, class: "tab-underlined" %>
          </li>
          <li id="onglet-d">
            <i class="far fa-calendar-alt"></i>
            <%= link_to "Agenda", new_event_path, class: "tab-underlined" %>
          </li>
        </ul>
      </div>
      <div class="col-4">
      </div>

    </div>


  <div>

    <h4> Votre hébergement </h4>
    <% if @event.accomodation_address? %>
      <p> Vous serez logé(e)s à l'adresse suivante : <br> <%= @event.accomodation_address %>
      <div class='m-3 pb-4 border-bottom'>
        <div id="map" class='one-map' data-markers="<%= @markers.to_json %>" data-mapbox-api-key="pk.eyJ1IjoiY2FtaWxsZWR0eSIsImEiOiJjanpsMTVrZWcwaXQ3M2RuMG1rM242Y3FtIn0.wDpYPwI1WAXhfDMZggbOXw"></div>
      </div>
    <% else %>
      <div class="address-input">
        <div class="correct-icone-accomodation">
          <i class="fas fa-home"></i>
        </div>
        <%= simple_form_for @event do |f| %>
          <%= f.input :accomodation_address, :input_html => { :class => "address" }, placeholder: "Veuillez renseigner l'adresse de l'hébergement", label: false %>
          <%= f.submit "Valider l'adresse" %>
        <%end%>
      </div>
      <h4> Pas encore d'hébergement ? <br> Pas de panique, nous vous aidons à trouver le logement idéal pour votre évènement ! </h4>
      <p> - Situés à <%= @event.destination %> </p>
      <p> - Disponibles du <%= %> au <%= %> </p>
      <p> - Pour <%= @participants.size %> personnes </p>
      <p> - A moins de <%= %>€ la nuit </p>
    <%end%>

    <!-- <a href="<%=@url%>">Aller sur Airbnb</a> -->

  </div>
