<!-- ONGLET 3 (début) -->

<%= render '/components/top-navbar' %>

<div class="banner-setup">
  <h1>Setup (3/3)</h1>
</div>

<%= render 'tabs-setup', event: @event, survey: @event.surveys %>

<div class="container block33">
  <h2>Partagez un lien d'inscription via : </h2>
      <!-- /events/:event_id/user_events/:id/send_invitation(.:format) -->
  <div class="icons">
    <i class="fab fa-facebook-messenger"></i>
    <i class="fab fa-whatsapp whatsapp"></i>
    <i class="fas fa-at icon"></i>
  </div>

 <!--  <div class="icons">
    <img src="messenger.png" alt="" class="icon">
    <img src="whatsapp.png" alt="" class="icon">
    <img src="email.svg" alt="" class="icon">
  </div> -->
   <!-- url: event_user_events_path(@event), method: :post  -->

  <div class="number-form">
    <%= simple_form_for [@event, @user_event] do |f| %>
      <%= f.input :phone_number, label: "Numéro de téléphone du participant" %>
      <%= f.submit "Envoyer l'invitation", class: "btn btn-primary" %>
    <% end %>
  </div>

</div>







