<!-- ONGLET 3 (début) -->

<%= render '/components/top-navbar' %>

<div class="banner-setup">
  <h1>Setup (3/3)</h1>
</div>

<!-- , event: @event, survey: @event.surveys -->
<div class="setup-tabs">
  <ul id="setup-nav" class="list-inline tabs-underlined">
    <li>
      <%= link_to "Créer mon évènement", new_event_path, class: "tab-underlined" %>
    </li>
    <li>
      <%= link_to "Sondage (optionnel)", '#', class: "tab-underlined" %>
    </li>
      <li>
        <%= link_to "Inviter des participants", '#', class: "tab-underlined active" %>
    </li>
  </ul>
</div>

<div class="container block33">
  <h2>Code à partager aux participants</h2>
  <h1 id="code">164893</h1>
  <br>
  <br>
  <div class="ou">
    <div class="copier">
      <h4><span id="copier-cta">Copier</span></h4>
    </div>
    <div class="ou-h3">
      <h3>Ou</h3>
    </div>
    <div class="je-partage">
      <h4>Je partage via : </h4>
      <br>
      <div class="icons">
        <i class="fab fa-facebook-messenger"></i>
        <i class="fab fa-whatsapp whatsapp"></i>
        <i class="fas fa-at icon"></i>
      </div>
    </div>
  </div>




 <!--  <div class="icons">
    <img src="messenger.png" alt="" class="icon">
    <img src="whatsapp.png" alt="" class="icon">
    <img src="email.svg" alt="" class="icon">
  </div> -->
   <!-- url: event_user_events_path(@event), method: :post  -->

    <div class="number-form">

      <!-- <div class="known-member">
        <h3>Guest déjà membre de Joorney ?</h3>
        <p><strong id="blackk">Nom</strong> (pour retrouver son numéro)</p>

      </div> -->

      <div class="new-member">
<!--         <h3>Nouveau membre ?</h3> -->
        <%= simple_form_for [@event, @user_event], class: "invite-form" do |f| %>
          <%= f.input :phone_number, label: "Numéros de téléphone" %>
          <%= f.submit "Envoyer l’invitation", class: "btn btn-primary button alert-b" %>
        <% end %>
      </div>

    </div>

</div>







