
<%= render '/components/top-navbar' %>

<div class="banner-setup">

  <div class="joorney-msg">

    <div class="mr-joorney">
      <img src="images/mr_joorney.png" alt="">
    </div>
    <div class="bubble">
      <p>Hello <strong id="name"><%= current_user.first_name %></strong>, c’est le moment de paramétrer ton projet,</p>
      <p>Cela ne te prendra que quelques secondes ;)<p>
      <img src="images/bubble.png" alt="">
    </div>
  </div>

  <h1>Setup (1/3)</h1>

</div>

<!-- , event: @event, survey: nil  -->
<div class="setup-tabs">
  <ul id="setup-nav" class="list-inline tabs-underlined">
    <li>
      <%= link_to "Créer mon évènement", new_event_path, class: "tab-underlined active" %>
    </li>
    <li>
      <%= link_to "Sondage (optionnel)", '#', class: "tab-underlined" %>
    </li>
      <li>
        <%= link_to "Inviter des participants", '#', class: "tab-underlined" %>
    </li>
  </ul>
</div>


<!-- 1ER ONGLET -->
<nav class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="infos" role="tabpanel" aria-labelledby="infos-tab">
    <div id="setup1" class="container">
      <%= simple_form_for @event do |f| %>
      <div class="row">
        <div class="col-8">
          <div class="container-small-new">
              <%= f.input :name, label: "Nom de l'évènement" %>
              <br>
              <%= f.input :event_category, label: "Type", collection: Event::EVENT_CATEGORIES %>
          </div>
        </div>
        <div class="col-4">
<!--           <div class="add-picture"> -->
            <div class="back-photo">

            </div>
            <!-- <img src='https://images.unsplash.com/photo-1532498551838-b7a1cfac622e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80'> -->
            <div id="add-pic-btn" >
              <label class="button-secondary">
              Ajouter une photo
              <span style="display:none;">
                <%= f.input :photo, :label_html => { :class => "d-none" } %>
                <%= f.input :photo_cache, as: :hidden %>
              </span>
              </label>
            </div>
<!--           </div> -->
        </div>

      </div>
      <div class="row">
        <div class="col-12">
          <h6> Et connaissez-vous déjà... </h6>
        <div class="toggles-list">
              <div class="toggle-date">
                <strong>La date</strong>
                <label class="switch">
                  <input type="checkbox" id="checkbox-toggle-survey-date">
                  <span class="slider round switch-text"></span>
                </label>
                <div id="event_start_date_full" class="d-none" disabled >
                  <%= f.input :start_date, label: "Date de début", as: :string, required: false, input_html: {class: "datepicker"} %>
                  <%#= f.input :start_date, label: "Date de début", placeholder: 'Date de début' %>
                </div>
                <div id="event_end_date_full" class="d-none" disabled>
                  <%= f.input :end_date, label: "Date de fin", as: :string, required: false, input_html: { class: "datepicker" } %>
                  <%#= f.input :end_date, label: "Date de fin", placeholder: 'Date de fin' %>
                </div>
              </div>
              <div class="toggle-place">
                <strong>Le lieu</strong>
                <label class="switch">
                  <input type="checkbox" id="checkbox-toggle-survey-place">
                  <span class="slider round"></span>
                </label>
                <%= f.input :destination, id: "event_destination", :input_html => { :class => "d-none address-autocomplete" }, :label_html => { :class => "d-none" }, placeholder: 'Votre destination' %>
              </div>
              <div class="toggle-budget">
                <strong>Le budget/pers</strong>
                <label class="switch">
                  <input type="checkbox" id="checkbox-toggle-survey-budget">
                  <span class="slider round"></span>
                </label>
                <%= f.input :budget_per_participant_cents, id: "event_budget_per_participant_cents", :input_html => { :class => "d-none", disabled: :true }, :label_html => { :class => "d-none" }, placeholder: 'Votre budget max par pers.' %>
              </div>
            </div>
            <div class="cta-part">
              <%= f.submit "Créer mon évènement", class: "button" %>
            </div>
          </div>
      </div>
    <% end %>
    </div>

  </div>

  <!-- ONGLET 1 : FIN CRÉA EVENT -->
</nav>
