<%= render '/components/top-navbar' %>

<div class="back-color-payment">
<!--   <div id='main-b'> -->
    <div class='container p-5'>
      <h1 class='payment-title'>Paiement</h1>
      <!-- CARTE BANCAIRE (début) -->
      <div class='lign cards-big-ctn'>
        <div class='act-cards'>
          <!-- ARRIERE -->
          <div class="act-card" id="derriere">
            <div>
              <input class="card-num crypto" type="text" name="" id="" placeholder="000">
            </div>
            <div class="bande-noire">
            </div>
          </div>
          <!-- ARRIERE -->
          <!-- DERRIERE -->
          <div class="act-card" id="devant">
            <div class="cb-logo"></div>
            <div class='puces-cb'>
            </div>
            <div>
              <input class="card-num num" type="text" name="" id="" placeholder="XXXX XXXX XXXX XXXX">
            </div>
            <div>
              <input class="card-num date-ech" type="text" name="" id="" placeholder="00/00">
            </div>
            <div>
              <input class="card-num user-names" type="text" name="" id="" placeholder="PRENOM NOM">
            </div>
            <!-- DERRIERE -->
          </div>
          <h6 class='click-rot'>
            <i class="fas fa-play"></i>
          </h6>
        </div>
      </div>
      <!-- CARTE BANCAIRE (fin) -->
      <div class='details'>
        <div class='ml-3 mr-3 details-txt'>
          <h2>Détails</h2>
        </div>
        <div class='row ml-3 mr-3 mt-5'>
          <div class='col-6 colonne'>
            <p><i class="act-logo fas fa-snowboarding"></i></p>
            <% @event.event_activities.each do |pref| %>
              <h4 class='act-spec' id='act-name'><%= pref.activity.title %><h4>
            <% end %>
          </div>

          <div class='col-2 colonne'>
            <p><i class="act-logo fas fa-users"></i></p>
            <% @event.event_activities.each do |pref| %>
              <h4 class='act-spec'><%= pref.nb_of_participants %><h4>
            <% end %>
          </div>

          <div class='col-2 colonne'>
            <p><i class="act-logo far fa-clock"></i></p>
            <% @event.event_activities.each do |pref| %>
              <h4 class='act-spec'><%= pref.activity_id %><h4>
            <% end %>
          </div>

          <div class='col-2 colonne'>
            <p><i class="act-logo fas fa-money-bill-wave"></i></p>
            <% @event.event_activities.each do |pref| %>
              <h4 class='act-spec'><%= pref.nb_of_participants * pref.activity.unit_price %> €</h4>
            <% end %>
          </div>
        </div>

        <!-- PARTIE TOTAL -->
        <div class='row ml-3 mr-3 mb-3 pt-5 border-top lign' id='total-div'>
          <% total = 0 %>
          <% @event.event_activities.each do |pref| %>
            <% total_price = pref.nb_of_participants * pref.activity.unit_price %>
            <% total += total_price%>
          <% end %>
          <div class='col-6 no-padding'><h2>Prix total</h2></div>
          <h2 class='col-6' id='tot-price'><%= total %> €</h2>
        </div>
        <!-- BOUTON LIEN PAYER (début) -->
        <div class='lign'>
          <%= link_to "Payer", event_path(@event), class: "button-payment" %>
        </div>
        <!-- BOUTON LIEN PAYER (fin) -->
      </div>
    </div>
<!--   </div> -->
</div>
