
<%= render '/components/top-navbar-nosticky' %>

<div class="backcolor">

  <div id="banner-dashboard">
    <%= cl_image_tag @event.photo, class: "img-dashboard" %>
    <div class="countdown-col col">

      <div class="title-countdown">
        <!-- <h1> <%= @event.name %> </h1> -->
        <% if @event.start_date %>
          <h1> <%= @event.name %> </h1>
          <div class="time middle">
            <span>
              <div id="d"></div>
              Jours
            </span>
            <span>
              <div id="h"></div>
              Heures
            </span>
            <span>
              <div id="m"></div>
              Minutes
            </span>
            <span>
              <div id="s"></div>
              Secondes
            </span>
          </div>
        <% else %>
          <h1 id="title_position-time"> <%= @event.name %> </h1>
          <div class="time-opacity-0 middle-opacity-0">
            <span>
              <div id="d"></div>
              Jours
            </span>
            <span>
              <div id="h"></div>
              Heures
            </span>
            <span>
              <div id="m"></div>
              Minutes
            </span>
            <span>
              <div id="s"></div>
              Secondes
            </span>
          </div>
        <% end %>
        <div class="container">
          <div class="avatars">
            <div id="avatar-number"><%= @event.user_events.count %></div>
              <% if @event.user_events.count == 1 %>
                <%= cl_image_tag current_user.profile_picture, width: 50, height: 50, crop: :thumb, gravity: :face, class: "avatar-p" %>
              <% else %>
                <% @event.user_events.each do |userevent| %>
                    <%= cl_image_tag userevent.user.profile_picture, width: 50, height: 50, crop: :thumb, gravity: :face, class: "avatar-p" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-8">
        <ul id="dashboard-nav" class="list-inline tabs-underlined">
          <li id="onglet-d">
            <i class="fas fa-tachometer-alt" id="main-icon"></i>
            <%= link_to "Dashboard", event_path(@event), class: "tab-underlined active" %>
          </li>
          <li id="onglet-d">
            <i class="fas fa-poll-h"></i>
            <%= link_to "Sondage", new_event_path, class: "tab-underlined" %>
          </li>
          <li id="onglet-d">
            <i class="fas fa-home"></i>
            <%= link_to "Logement", accomodation_event_path(@event), class: "tab-underlined" %>
          </li>
          <li id="onglet-d">
            <i class="fas fa-snowboarding"></i>
            <%= link_to "Activités", event_activities_path(@event), class: "tab-underlined" %>
          </li>
          <li id="onglet-d">
            <i class="fas fa-plane"></i>
            <%= link_to "Transport", new_event_path, class: "tab-underlined" %>
          </li>
          <li id="onglet-d">
            <i class="fas fa-piggy-bank"></i>
            <%= link_to "Cagnotte", new_event_path, class: "tab-underlined" %>
          </li>
          <li id="onglet-d">
            <i class="far fa-calendar-alt"></i>
            <%= link_to "Agenda", new_event_path, class: "tab-underlined" %>
          </li>
        </ul>
      </div>
      <div class="col-4">
      </div>

    </div>

    <div class="row all-cards">

      <div class="col-8">



        <div class="new-card">

          <div class="titles">
            <div class="tier-top leftt">
              <h4>Budget/pers</h4>
            </div>
            <div class="tier-top">
              <h4>Dates</h4>
            </div>
            <div class="tier-top rightt">
              <h4>Destination</h4>
            </div>
          </div>

          <div class="info-details">
            <div class="tier">
              <%if @event.budget_per_participant_cents? %>
              <h2><%= @event.budget_per_participant_cents %></h2>
              <% else %>
              <h2>?</h2>
              <%end%>
            </div>
            <div class="tier">
              <%if @event.start_date? %>
              <!-- <h6><%= @event.start_date.strftime() %> - <%= @event.end_date.strftime() %></h6> -->
              <h6><%= @event.start_date.strftime("%d/%m/%Y") %></h6>
              <h6><%= @event.end_date.strftime("%d/%m/%Y") %></h6>
              <% else %>
              <h2>?</h2>
              <%end%>
            </div>
            <div class="tier">
              <%if @event.destination? %>
              <!-- <h4><%#= @event.destination %></h4> -->
              <h2> <%= Geocoder.search(@event.destination).first.city %> </h2>
              <% else %>
              <h2>?</h2>
              <%end%>
            </div>
          </div>

        </div>


        <!-- DASHBOARD FRISE DE PROGRESSION (début) -->
        <div id="dashboard-progression" class="dashboard-card">
          <div class="top-progression">
            <h4>Progression</h4>
            <%# total = 0 %>
            <%# @event.event_activities.each do |pref| %>
              <%# total_price = pref.nb_of_participants * pref.activity.unit_price %>
              <%# total += total_price%>
            <%# end %>
            <% if @event.event_activities = [] %>
              <%= link_to "Payer la totalité", payment_event_path(@event), class: "button-short disabled" %>
            <% else %>
              <%= link_to "Payer la totalité", payment_event_path(@event), class: "button-short" %>
            <% end %>
          </div>

          <div id="db-progression-details">
            <!-- SURVEY -->
              <div class="db-progression-detail">
                <% answer = [] %>
                <% @event.user_events.map do |guest| %>
                  <% if guest.user_id != nil %>
                    <% answer << guest.action2 %>
                  <% end %>
                <% end %>
                <% if @survey.suggestions == [] && @event.user_events.count == 1 %>
                  <i class="fas fa-circle not-started"></i>
                <% elsif answer.uniq.count == 1 && answer.uniq.first == true %>
                  <i class="fas fa-circle done"></i>
                <% else %>
                  <i class="fas fa-circle in-progress"></i>
                <% end %>
                <p>Sondage</p>
              </div>
            <!-- SURVEY (fin) -->
            <!-- INVITÉS (début) -->
              <div class="db-progression-detail">
                <% join = [] %>
                <% @event.user_events.map do |guest| %>
                  <% if guest.user_id != nil %>
                    <% join << guest.action1 %>
                  <% end %>
                <% end %>
                <% if join.uniq.count == 1 && join.uniq.first == nil %>
                  <i class="fas fa-circle done"></i>
                <% elsif join.uniq.count == 1 && join.uniq.first == true %>
                  <i class="fas fa-circle done"></i>
                <% else %>
                  <i class="fas fa-circle in-progress"></i>
                <% end %>
                <p>Invités</p>
              </div>
            <!-- INVITÉS (fin) -->
            <!-- LOGEMENT (début) -->
            <div class="db-progression-detail">
              <% if @event.accomodation_address != nil %>
                <i class="fas fa-circle done"></i>
              <% else %>
                <i class="fas fa-circle not-started"></i>
              <% end %>
              <p>Logement</p>
            </div>
            <!-- LOGEMENT (fin) -->
            <!-- ACTIVITÉS (début) -->
            <div class="db-progression-detail">
              <% selected = [] %>
              <% @event.event_activities.map do |activity| %>
                <% selected << activity.selected %>
              <% end %>
              <% if @event.event_activities != [] %>
                <i class="fas fa-circle in-progress"></i>
              <%# elsif selected.uniq.count == 1 && selected.uniq.first == false %>
                <!-- <i class="fas fa-circle done"></i> -->
              <% else %>
                <i class="fas fa-circle not-started"></i>
              <% end %>
              <p>Activités</p>
            </div>
            <!-- ACTIVITÉS (fin) -->
            <!-- TRANSPORT (début) -->
            <div class="db-progression-detail">
              <i class="fas fa-circle not-started"></i>
              <p>Transport</p>
            </div>
            <!-- TRANSPORT (fin) -->
            <!-- CAGNOTTE (début) -->
            <div class="db-progression-detail">
              <i class="fas fa-circle not-started"></i>
              <p>Cagnotte</p>
            </div>
            <!-- CAGNOTTE (fin) -->
            <!-- AGENDA (debut) -->
            <div class="db-progression-detail">
              <i class="fas fa-circle not-started"></i>
              <p>Agenda</p>
            </div>
            <!-- AGENDA (fin) -->
          </div>
        </div>

        <!-- DASHBOARD FRISE DE PROGRESSION (fin) -->
        <div id="dashboard-costs" class="dashboard-card">
          <div class="dark-back">
            <h4>Répartition des coûts</h4>
          </div>
          <% if @event.budget_per_participant_cents == 0 || @event.budget_per_participant_cents == nil %>
            <div class="chart-labels-without-budget">
              <div class="db-costs-chart-without-budget">
                <canvas id="doughnut-chart" width="250" height="150"></canvas>
                <div class="no-budget-tot-center">
                  <h5> En attente de budget </h5>
              <!-- <canvas id="doughnut-chart" width="230" height="130"></canvas> -->
                </div>
              </div>
            </div>
          <% else %>
            <div class="chart-labels">
              <div class="db-costs-chart">
                <canvas id="doughnut-chart" width="250" height="150"></canvas>
                <div class="budget-tot-center">
                  <p>Budget total</p>
                  <h2><%= @budget_tot %>€</h2>
                </div>
              </div>
              <div class="labels">
                <div class="label-color">
                  <span id="label-budget"></span>
                  <i class="fas fa-circle" id="budget-circle"></i>
                  <span id="budget-back"><h4>Budget restant  : <%= @budget_remaining %>€</h4></span>
                </div>
                <br>
                <div class="label-color">
                  <span id="label-activity"></span>
                  <i class="fas fa-circle" id="budget-activity-circle"></i>
                  <p>Activités : <%= @budget_activities %>€</p>
                </div>
                <div class="label-color">
                  <span id="label-logement"></span>
                  <i class="fas fa-circle"></i>
                  <p>Logement : 0€</p>
                </div>
                <div class="label-color">
                  <span id="label-transport"></span>
                  <i class="fas fa-circle"></i>
                  <p>Transport  : 0€</p>
                </div>
              </div>
            </div>
          <% end %>
        </div>


        <div id="settings" class="dashboard-card">
          <div class="dark-back">
            <h4>Settings</h4>
          </div>
          <div id="settings-details">
            <div class="settings-detail">
              <i class="fas fa-poll-h"></i>
              <p>Créer un sondage</p>
            </div>
            <div class="settings-detail">
              <i class="fas fa-user-friends"></i>
              <p>Gérer la liste des participants</p>
            </div>
            <div class="settings-detail">
              <i class="fas fa-lightbulb"></i>
              <p>Voir nos conseils</p>
            </div>
            <div class="settings-detail">
              <i class="fas fa-plus-circle"></i>
              <p>Créer un autre projet</p>
            </div>
          </div>
        </div>
      </div>

    <div class="col-4">
      <div id="timeline" class="dashboard-card">
        <div class="dark-back">
          <h4>Dernières activités</h4>
          <%# if @event.destination %>
            <div class="notif-bell">
              <i class="fas fa-bell"></i>
            </div>
          <%# end %>
        </div>
        <div class="top-timeline pad">

          <% if @event.destination == nil %>
            <div class="activity-content">
              <p id="msg-no-activity">Retrouvez ici en temps réel les actus de votre évènement (participants, réponse au sondage,...)</p>
            </div>
          <% end %>
          <% @event.user_events.take(5).each do |userevent| %>
            <!-- <div class="avatar-navbar"></div> -->
            <% if userevent.user_id != nil && userevent.user_id != current_user.id %>
              <div class="one-activity">
                <!-- avatar -->
                <%= cl_image_tag userevent.user.profile_picture, width: 50, height: 50, crop: :thumb, gravity: :face, class: 'avatar-p' %>

                <!-- content div -->
                <div class="activity-content">
                  <!-- pour ne pas casser la logique de l'api (user optional true) on filtre les userevent qui n'ont pas d'id -->
                  <% if userevent.user_id != nil && userevent.user_id != current_user.id %>
                    <%= userevent.user.first_name %>
                  <% end %>
                  <% if userevent.action1 && userevent.user_id != current_user.id %>
                    <p>a rejoint le projet</p>
                  <% end %>
                  <% if userevent.action2 && userevent.user_id != current_user.id %>
                    <p>a répondu au sondage</p>
                  <% end %>
                  <% if userevent.user_id != current_user.id %>
                    <p><%= userevent.time_ago %></p>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>


          <% if @survey.deadline %>
            <p>Deadline: <%= @survey.deadline.strftime("%d/%m/%Y") %></p>
          <% end %>

        </div>
      </div>
    </div>
  </div>

    <span id="budget-tot" data-budget-tot="<%= @budget_tot %>" class="d-none"><%= @budget_tot %></span>
    <span id="budget-activities" data-budget-activities="<%= @budget_activities %>" class="d-none"><%= @budget_activities %></span>
    <span id="budget-remaining" data-budget-remaining="<%= @budget_remaining %>" class="d-none"><%= @budget_remaining %></span>
</div>

