
<%= render '/components/top-navbar-nosticky' %>

<div class="backcolor">

  <div id="banner-dashboard">
    <%= cl_image_tag @event.photo %>
    <div class="countdown-col col">

      <div class="title-countdown">
        <h1> <%= @event.name %> </h1>
        <div class="time middle">
          <span>
            <div id="d">12</div>
            Jours
          </span>
          <span>
            <div id="h">06</div>
            Heures
          </span>
          <span>
            <div id="m">35</div>
            Minutes
          </span>
          <span>
            <div id="s">54</div>
            Secondes
          </span>
        </div>
        <div class="container">
          <div class="avatars">
            <div id="avatar-number">6</div>
            <div class="avatar-p"></div>
            <div class="avatar-p"></div>
            <div class="avatar-p"></div>
            <div class="avatar-p"></div>
            <div class="avatar-p"></div>
            <div class="avatar-p"></div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-8">
        <ul id="dashboard-nav" class="list-inline tabs-underlined">
          <li id="onglet-d">
            <i class="fas fa-tachometer-alt"></i>
            <%= link_to "Dashboard", event_path(@event), class: "tab-underlined active" %>
          </li>
          <li id="onglet-d">
            <i class="fas fa-poll-h"></i>
            <%= link_to "Sondage", new_event_path, class: "tab-underlined" %>
          </li>
          <li id="onglet-d">
            <i class="fas fa-home"></i>
            <%= link_to "Logement", accomodation_event_path(@event), class: "tab-underlined" %>
          </li>
          <li id="onglet-d">
            <i class="fas fa-snowboarding"></i>
            <%= link_to "Activités", event_activities_path(@event), class: "tab-underlined" %>
          </li>
          <li id="onglet-d">
            <i class="fas fa-snowboarding"></i>
            <%= link_to "Transport", new_event_path, class: "tab-underlined" %>
          </li>
          <li id="onglet-d">
            <i class="fas fa-piggy-bank"></i>
            <%= link_to "Cagnotte", new_event_path, class: "tab-underlined" %>
          </li>
          <li id="onglet-d">
            <i class="far fa-calendar-alt"></i>
            <%= link_to "Agenda", new_event_path, class: "tab-underlined" %>
          </li>
        </ul>
      </div>
      <div class="col-4">
      </div>

    </div>

    <div class="row all-cards">

      <div class="col-8">

        <div id="dashboard-main-info" class="dashboard-card">
          <div class="db-info-detail">
            <H4>Budget/pers</H4>
            <div class="db-info-detail-value with-border-right">
              <%if @event.budget_per_participant_cents? %>
              <h2><%= @event.budget_per_participant_cents * 100 %></h2>
              <% else %>
              <h2>?</h2>
              <%end%>
            </div>
          </div>
          <div class="db-info-detail">
            <H4>Date</H4>
            <div class="db-info-detail-value with-border-right">
              <%if @event.start_date? %>
              <!-- <h6><%= @event.start_date.strftime("%d/%m/%Y") %> - <%= @event.end_date.strftime("%d/%m/%Y") %></h6> -->
              <h6><%= @event.start_date.strftime("%d/%m/%Y") %></h6>
              <h6><%= @event.end_date.strftime("%d/%m/%Y") %></h6>
              <% else %>
              <h2>?</h2>
              <%end%>
            </div>
          </div>
          <div class="db-info-detail">
            <H4>Lieu</H4>
            <div class="db-info-detail-value">
              <%if @event.destination? %>
              <h2><%= @event.destination %></h2>
              <% else %>
              <h2>?</h2>
              <%end%>
            </div>
          </div>
        </div>

        <div id="dashboard-progression" class="dashboard-card">
          <div class="top-progression">
            <h4>Progression</h4>
            <a class="button-short" href=#>
            Payer la totalité
            </a>
          </div>

          <div id="db-progression-details">
            <% if @survey %>
              <div class="db-progression-detail">
                <i class="fas fa-circle in-progress"></i>
                <p>Sondage</p>
              </div>
            <% end %>
            <%#= @event.user_event.action1 %>
              <div class="db-progression-detail">
                <i class="fas fa-circle not-started"></i>
                <p>Participants</p>
              </div>
            <%# end %>
            <div class="db-progression-detail">
              <i class="fas fa-circle not-started"></i>
              <p>Logement</p>
            </div>
            <div class="db-progression-detail">
              <i class="fas fa-circle not-started"></i>
              <p>Activités</p>
            </div>
            <div class="db-progression-detail">
              <i class="fas fa-circle not-started"></i>
              <p>Transport</p>
            </div>
            <div class="db-progression-detail">
              <i class="fas fa-circle not-started"></i>
              <p>Cagnotte</p>
            </div>
            <div class="db-progression-detail">
              <i class="fas fa-circle not-started"></i>
              <p>Agenda</p>
            </div>
          </div>
        </div>

        <div id="dashboard-budget">
          <div id="dashboard-budget-tot" class="dashboard-card">
            <!-- piechart -->
            <div class="piechart-div">
              <div class="box">
                <div class="chart" data-percent="73">73%</div>
              </div>
            </div>
            <!-- end piechart -->
            <h4>Budget total</h4>
          </div>
          <div id="dashboard-costs" class="dashboard-card">
            <h4>Répartition des coûts</h4>
            <div class="db-costs-chart">
              <!-- <i class="fas fa-chart-pie"></i> -->
              <canvas id="doughnut-chart" width="150" height="100"></canvas>
            </div>
<!--             <div class="db-costs-legend">

            </div> -->
          </div>
        </div>
        <div id="settings" class="dashboard-card">
          <h4>Settings</h4>
          <div id="settings-details">
            <div class="settings-detail">
              <i class="fas fa-poll-h"></i>
              <p>Créer un sondage</p>
            </div>
            <div class="settings-detail">
              <i class="fas fa-user-friends"></i>
              <p>Gérer la liste des participants</p>
            </div>
            <div class="settings-detail">
              <i class="fas fa-lightbulb"></i>
              <p>Voir nos conseils</p>
            </div>
            <div class="settings-detail">
              <i class="fas fa-plus-circle"></i>
              <p>Créer un autre projet</p>
            </div>
          </div>
        </div>
      </div>

    <div class="col-4">
      <div id="timeline" class="dashboard-card">
        <div id="top-timeline">
          <h4>Dernières activités</h4>

          <div class="one-activity">
            <div class="avatar-navbar"></div>
            <div class="activity-content">
              <p><strong>Théo</strong></p>
              <p>a rejoint le projet</p>
              <p>il y a 20 heures</p>
            </div>
          </div>
          <div class="one-activity">
            <div class="avatar-navbar"></div>
            <div class="activity-content">
              <p><strong>Théo</strong></p>
              <p>a rejoint le projet</p>
              <p>il y a 20 heures</p>
            </div>
          </div>


          <% @event.user_events.each do |userevent| %>
            <!-- <div class="avatar-navbar"></div> -->

            <% if userevent.user_id != nil %>
              <%= cl_image_tag User.find(userevent.user_id).profile_picture, height: 200, width: 200 %>
            <% end %>

            <div class="activity-content">
              <!-- pour ne pas casser la logique de l'api (user optional true) on filtre les userevent qui n'ont pas d'id -->
              <% if userevent.user_id != nil %>
                <%= User.find(userevent.user_id).first_name %>
              <% end %>
              <% if userevent.action1 %>
                <p>a rejoint le projet</p>
              <% end %>
              <% if userevent.action2 %>
                <p>a répondu au sondage</p>
              <% end %>
            </div>
          <% end %>


          <% if @survey.deadline %>
            <p>Deadline: <%= @survey.deadline.strftime("%d/%m/%Y") %></p>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>

