
<div class="back-color-payment">

  <div class="navbar-joorney">
    <%= link_to "", root_path, class: "logo" %>
    <div class="onglets">
      <p>Idées d'activités</p>
      <p>Notre concept</p>
      <p>Astuces & co</p>
    </div>
    <div class="dark-part">
      <p>Connexion</p>
      <p>Inscription</p>
      <span class="avatar-navbar"></span>
    </div>
  </div>


<!-- <br>
<br>
<br> -->



  <div class='container-l'>
    <h2 id="log-title">Log in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs login-form">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "button-short adjust" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
