
<div class="navbar-joorney">
  <div class="logo">
    <p>Logo</p>
  </div>
  <div class="onglets">
    <p>Idées d'activités</p>
    <p>Notre concept</p>
    <p>Astuces & co</p>
  </div>
  <div class="dark-part">
    <p>Hello X</p>
    <span class="avatar-navbar"></span>
  </div>
</div>

<div class="banner-setup">
  <h1>Setup (2/3)</h1>
</div>


<%= render 'events/tabs-setup', event: @survey.event, survey: @survey %>

<!-- ONGLET 2 : DÉBUT DU FORMULAIRE -->
<div class='m-4'>
  <div class='row'>
    <div class='col-7 form-sugg'>
      <div class='mb-5'>
        <h4>1. Préciser les champs que vous souhaitez inclure dans le sondage</h4>
        <h4>2. Limiter le nombre de choix en proposant vos idées</h4>
      </div>
      <!-- CHAMP 1 début -->
        <% if @survey.event.start_date.nil? %>
          <div class='mb-5'>
            <div class='champs'>
              <h4 class='champ_nb'>Champ 1</h4>
              <h4>Dates</h4>
            </div>
            <!-- DATES début -->
            <div>
              <ul>
                <li>
                  <%= simple_form_for [@survey, @suggestion], html: {id: 'new-dates-sugg'}, remote: true do |f| %>
                    <div class='survey-question' id='dates-sugg'>
                      <%= f.input :start_date, label: "Date de début", as: :string, required: false, input_html: {class: "datepicker"} %>
                      <%= f.input :end_date, label: "Date de fin", as: :string, required: false, input_html: { class: "datepicker" } %>
                      <%= f.submit "+", class: "date-plus ml-3"%>
                    </div>
                  <% end %>
                </li>
              </ul>
            </div>
          <!-- DATES fin -->
          </div>
        <% end %>
      <!-- CHAMP 1 fin -->
      <!-- CHAMP 2 début -->
      <%= simple_form_for [@survey, @suggestion], remote: true do |f| %>
        <% if @survey.event.destination == nil %>
          <div class='mb-5'>
            <div class= 'champs'>
              <h4 class='champ_nb'>Champ 2</h4>
              <h4>Destination</h4>
            </div>
            <div class='survey-question' id='destination-sugg'>
              <!-- <i class="fas fa-times-circle delete-sugg"></i> -->
              <%= f.input :value, placeholder: "Fontainebleau", label: false, input_html: {onchange: 'Rails.fire(this.form, "submit")'} %>
              <%= f.input :topic, as: :hidden, input_html: {value: "Destination"} %>
              <i class="fas fa-plus-circle plus ml-3"></i>
            </div>
          </div>
        <% end %>
      <% end %>
      <!-- CHAMP 2 fin -->
      <!-- CHAMP 3 début -->
      <%= simple_form_for [@survey, @suggestion], remote: true do |f| %>
        <% if @survey.event.thematics == nil %>
        <div class='mb-5'>
          <div class='champs'>
            <h4 class='champ_nb'>Champ 3</h4>
            <h4>Thématiques</h4>
          </div>
          <div class='survey-question' id='thematics-sugg'>
            <%= f.input :value, collection: Event::THEMATICS, label: false, input_html: {onchange: 'Rails.fire(this.form, "submit")', multiple: true } %>
            <%= f.input :topic, as: :hidden, input_html: {value: "Thématiques"} %>
          </div>
        </div>
        <% end %>
      <% end %>
      <!-- CHAMP 3 fin -->
      <!-- CHAMP 4 début -->
      <%= simple_form_for [@survey, @suggestion], remote: true do |f| %>
        <% if @survey.event.budget_per_participant_cents == 0 %>
          <div class='mb-5'>
            <div class='champs'>
              <h4 class='champ_nb'>Champ 4</h4>
              <h4>Budget / participant</h4>
            </div>
            <p>Chaque participant précisera son budget<p>
          </div>
        <% end %>
      <% end %>
      <!-- CHAMP 4 fin -->
      <!-- SUBMIT BTN début -->
      <div class='submit-area mb-5'>
        <%= link_to "Générer votre sondage", invite_event_path(@survey.event), class: 'btn btn-primary' %>
        <div><%= link_to "Réaliser cette étape plus tard" %></div>
      </div>
      <!-- SUBMIT BTN fin -->
      <p>Pssss: les participants pourront remplir le sondage une fois qu’ils auront rejoint le projet.</p>
      <p>(Étape suivante)</p>
    </div>
    <!-- ONGLET 2 : FIN DE LA PARTIE GAUCHE DU FORMULAIRE -->
    <!-- ONGLET 2 : DÉBUT DE LA PARTIE DROITE DU FORMULAIRE -->
    <div class='col-5'>
      <div class='dynamic-survey'>
        <div>
          <h4>Sondage
            <%= @survey.name %>
            <span>(<%= pluralize @survey.suggestions.size, "suggestion" %>)</span>
          </h4>
          <p>Informations à préciser pour l’événement.</p>
          <p>Cela m’aidera à proposer une organisation qui contente tout le monde ;)</p>
        </div>
        <div class='mb-5'>
          <h4>Dates</h4>
          <div>
            <div id="sugg-dates">
              <% if @survey.suggestions.blank? %>
                Ajouter une proposition
              <% else %>
                <% @survey.suggestions.each do |suggestion| %>
                  <%= render 'suggestions/show', suggestion: suggestion %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class='mb-5'>
          <h4>Destination<span> (un seul choix possible)</span></h4>
          <div>
            <div id='sugg-places'>
              <% @survey.suggestions.each do |suggestion| %>
                <%= render 'suggestions/destination', suggestion: suggestion %>
              <% end %>
              <%# if @survey.suggestions.blank? %>
                <!-- Ajouter une proposition -->
              <%# else %>
                <%# @survey.suggestions.each do |suggestion| %>
                  <%#= render 'suggestions/show', suggestion: suggestion %>
                <%# end %>
              <%# end %>
            </div>
          </div>
        </div>
        <div class='mb-5'>
          <h4>Thématiques</h4>
          <div id='sugg-thematics'>
            <%# @survey.suggestions.each do |suggestion| %>
              <%#= render 'suggestions/thematic', suggestion: suggestion %>
            <%# end %>
            <!-- <i class="far fa-thumbs-up thumb"></i> -->
          </div>
        </div>
        <div id='sugg-budget' class='mb-5'>
          <h4>Budget max/participant</h4>
          <%= simple_form_for [@survey, @suggestion], remote: true do |f| %>
            <%= f.input :value, as: :range, class: 'range', collection: 0..10, label: false %>
          <% end %>
          <div id='range-value'></div>
        </div>
      </div>
    </div>
    <!-- ONGLET 2 : FIN DE LA PARTIE DROITE DU FORMULAIRE -->
  </div>
  <!-- ONGLET 2 : FIN DU FORMULAIRE -->
</div>



<!-- ONGLET 2 : DÉBUT DU FORMULAIRE -->
<!-- <div class='m-4'>
  <div class='row'>
    <div class='col-8'>
      <%#= @survey.event.name %>
      <div class='mb-5'>
        <div class='mb-5'>
          <h4>1. Préciser les champs que vous souhaitez inclure dans le sondage</h4>
          <h4>2. Limiter le nombre de choix en proposant vos idées</h4>
        </div>
        <div>

        </div>
      </div>
    </div> -->
    <!-- ONGLET 2 : FIN DE LA PARTIE DROITE DU FORMULAIRE -->
<!--   </div> -->
  <!-- ONGLET 2 : FIN DU FORMULAIRE -->
<!-- </div> -->
