<!-- ONGLET 2 : DÉBUT DU FORMULAIRE -->
<div class='m-4'>
  <div class='row'>
    <div class='col-8'>
      <div class='mb-5'>
        <h4>1. Préciser les champs que vous souhaitez inclure dans le sondage</h4>
        <h4>2. Limiter le nombre de choix en proposant vos idées</h4>
      </div>
      <!-- CHAMP 1 début -->
      <%= simple_form_for [@survey, @suggestion], remote: true do |f| %>
        <% if @survey.event.start_date.nil? %>
          <div class='mb-5'>
            <div class='champs'>
              <h4 class='champ_nb'>Champ 1</h4>
              <h4>Dates</h4>
            </div>
            <!-- DATES début -->
            <div class='survey-question'>
              <div class= 'questions' id='dates-sugg'>
                <span>choix 1</span>
                <%= f.input :start_date, label: "Date de début", as: :string, required: false, input_html: {class: "datepicker"} %>
                <%= f.input :end_date, label: "Date de fin",as: :string, required: false, input_html: { class: "datepicker" } %>
              </div>
              <i class="fas fa-plus-circle plus"></i>
            </div>
          <!-- DATES fin -->
          </div>
        <% end %>
      <% end %>
      <!-- CHAMP 1 fin -->
      <!-- CHAMP 2 début -->
      <%= simple_form_for [@survey, @suggestion], remote: true do |f| %>
        <% if @survey.event.destination == nil %>
          <div class='mb-5'>
            <div class= 'champs'>
              <h4 class='champ_nb'>Champ 2</h4>
              <h4>Destination</h4>
            </div>
            <div class='survey-question'>
              <div class= 'questions' id='destination-sugg'>
                <span>choix 1</span>
                <%= f.input :value, placeholder: "Fontainebleau", input_html: {onchange: 'Rails.fire(this.form, "submit")'} %>
                <%= f.input :topic, as: :hidden, input_html: {value: "Destination"} %>
              </div>
              <i class="fas fa-plus-circle plusi"></i>
            </div>
          </div>
        <% end %>
      <% end %>
      <!-- CHAMP 2 fin -->
      <!-- CHAMP 3 début -->

      <%= simple_form_for [@survey, @suggestion], remote: true do |f| %>
        <% if @survey.event.thematics == nil %>
        <div class='mb-5'>
          <div class='champs'>
            <h4 class='champ_nb'>Champ 3</h4>
            <h4>Thématiques</h4>
          </div>
          <div class='survey-question'>
            <div class= 'questions' id='thematics-sugg'>
              <%= f.input :value, collection: Event::THEMATICS, input_html: {onchange: 'Rails.fire(this.form, "submit")'} %>
              <%= f.input :topic, as: :hidden, input_html: {value: "Thématiques"} %>
            </div>
            <i class="fas fa-plus-circle plus"></i>
          </div>
        </div>
        <% end %>
      <% end %>
      <!-- CHAMP 3 fin -->
      <!-- CHAMP 4 début -->
      <%= simple_form_for [@survey, @suggestion], remote: true do |f| %>
        <% if @survey.event.budget_per_participant_cents == 0 %>
          <div class='mb-5'>
            <div class='champs'>
              <h4 class='champ_nb'>Champ 4</h4>
              <h4>Budget / participant</h4>
            </div>
            <p>Chaque participant précisera son budget<p>
          </div>
        <% end %>
      <% end %>
      <!-- CHAMP 4 fin -->
      <!-- SUBMIT BTN début -->
      <div class='submit-area mb-5'>
        <%= link_to "Générer votre sondage", invite_event_path(@survey.event), class: 'btn btn-primary' %>
        <div><%= link_to "Réaliser cette étape plus tard" %></div>
      </div>
      <!-- SUBMIT BTN fin -->
      <p>Pssss: les participants pourront remplir le sondage une fois qu’ils auront rejoint le projet. (étape suivante)</p>
    </div>
    <!-- ONGLET 2 : FIN DE LA PARTIE GAUCHE DU FORMULAIRE -->
    <!-- ONGLET 2 : DÉBUT DE LA PARTIE DROITE DU FORMULAIRE -->
    <div class='col-4 dynamic-survey'>
      <div>
        <h4>Sondage<span id='survey_name'></span></h4>
        <p>Informations à préciser pour l’événement.Cela m’aidera à proposer une organisation qui contente tout le monde ;)</p>
      </div>
      <div>
        <h4>Disponibilités</h4>
        <div>
          <div>DIV</div>
          <i class="far fa-thumbs-up thumb"></i>
        </div>
      </div>
      <div>
        <h4>Budget max/participant</h4>
        <%#= f.input :budget_per_participant_cents, as: :range, class: 'range', collection: 0..10 %>
        <div id='range-value'></div>
      </div>
      <div>
        <h4>Destination<span> (un seul choix possible)</span></h4>
        <div>
          <div>DIV</div>
          <i class="far fa-thumbs-up thumb"></i>
        </div>
      </div>
      <div>
        <h4>Thématiques</h4>
        <div>
          <div>DIV</div>
          <i class="far fa-thumbs-up thumb"></i>
        </div>
      </div>
    </div>
    <!-- ONGLET 2 : FIN DE LA PARTIE DROITE DU FORMULAIRE -->
  </div>
  <!-- ONGLET 2 : FIN DU FORMULAIRE -->
</div>



<!-- ONGLET 2 : DÉBUT DU FORMULAIRE -->
<!-- <div class='m-4'>
  <div class='row'>
    <div class='col-8'>
      <%#= @survey.event.name %>
      <div class='mb-5'>
        <div class='mb-5'>
          <h4>1. Préciser les champs que vous souhaitez inclure dans le sondage</h4>
          <h4>2. Limiter le nombre de choix en proposant vos idées</h4>
        </div>
        <div>

        </div>
      </div>
    </div> -->
    <!-- ONGLET 2 : FIN DE LA PARTIE DROITE DU FORMULAIRE -->
<!--   </div> -->
  <!-- ONGLET 2 : FIN DU FORMULAIRE -->
<!-- </div> -->
