<%= render '/components/top-navbar' %>

<!-- <div class="backcolor"> -->

  <div id="banner-dashboard">
    <%= cl_image_tag @event.photo, class: "img-dashboard" %>
    <div class="countdown-col col">
      <div class="title-countdown">
        <h1> <%= @event.name %> </h1>
        <% if @event.start_date %>
          <div class="time middle">
            <span>
              <div id="d">12</div>
              Jours
            </span>
            <span>
              <div id="h">06</div>
              Heures
            </span>
            <span>
              <div id="m">35</div>
              Minutes
            </span>
            <span>
              <div id="s">02</div>
              Secondes
            </span>
          </div>
        <% end %>
<!--         <div class="container">
          <div class="avatars">
            <div id="avatar-number">6</div>
            <div class="avatar-p"></div>
            <div class="avatar-p"></div>
            <div class="avatar-p"></div>
            <div class="avatar-p"></div>
            <div class="avatar-p"></div>
            <div class="avatar-p"></div>
          </div>
        </div> -->

        <div class="container">
          <div class="avatars">
            <div id="avatar-number"><%= @event.user_events.count %></div>
              <% if @event.user_events.count == 1 %>
                <%= cl_image_tag current_user.profile_picture, width: 50, height: 50, crop: :thumb, gravity: :face, class: "avatar-p" %>
              <% else %>
                <% @event.user_events.each do |userevent| %>
                    <%= cl_image_tag userevent.user.profile_picture, width: 50, height: 50, crop: :thumb, gravity: :face, class: "avatar-p" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container">
    <div class="row">
      <div class="col-8">
        <ul id="dashboard-nav" class="list-inline tabs-underlined">
          <li id="onglet-d">
            <i class="fas fa-tachometer-alt"></i>
            <%= link_to "Dashboard", event_path(@event), class: "tab-underlined" %>
          </li>
          <li id="onglet-d">
            <i class="fas fa-poll-h"></i>
            <%= link_to "Sondage", new_event_path, class: "tab-underlined" %>
          </li>
          <li id="onglet-d">
            <i class="fas fa-home"></i>
            <%= link_to "Logement", accomodation_event_path(@event), class: "tab-underlined" %>
          </li>
          <li id="onglet-d">
            <i class="fas fa-snowboarding" id="main-icon"></i>
            <%= link_to "Activités", event_activities_path(@event), class: "tab-underlined active" %>
          </li>
          <li id="onglet-d">
            <i class="fas fa-plane"></i>
            <%= link_to "Transport", new_event_path, class: "tab-underlined" %>
          </li>
          <li id="onglet-d">
            <i class="fas fa-piggy-bank"></i>
            <%= link_to "Cagnotte", new_event_path, class: "tab-underlined" %>
          </li>
          <li id="onglet-d">
            <i class="far fa-calendar-alt"></i>
            <%= link_to "Agenda", new_event_path, class: "tab-underlined" %>
          </li>
        </ul>
      </div>
      <div class="col-4">
      </div>
    </div>
  </div>

  <div class="container-fluid lr">
    <%# if @activities.size == 0 %>
      <!-- <h2> Désolé, nous n'avons pour l'instant aucune activité dans votre secteur à vous proposer.<br> Retentez votre chance d'ici quelques jours !</h2> -->
    <%# elsif @activities.size == 1 %>
      <!-- <h2> 1 chance de trouver votre bonheur </h2> -->
    <%# else %>
      <!-- <h2> <%=@activities.size %> chances de trouver votre bonheur </h2> -->
    <%# end %>

    <% if @event.accomodation_address == nil %>
      <h2> Plus de 250 activités disponibles </h2>
    <% else %>
      <h2> <%=@activities.size %> activités trouvées près de l'adresse indiquée </h2>
    <% end %>

    <div class="accomodation-in-activities">
      <%# if @event.accomodation_address %>
        <!-- <p id="loc-accomodation">Voici les activités à moins de 30km de votre hébergement :</p> -->
      <%# elsif @event.destination %>
        <!-- <p id="loc-accomodation">Voici les activités à moins de 30km de <%= @event.destination %> :</p> -->
      <%# else %>
        <div id="icon-and-input-address" class="d-flex align-items-center">
          <div class="correct-icone-accomodation">
            <i class="fas fa-home"></i>
          </div>
          <div id="address-input" style="width: 600px; height: 44px;">
            <%= simple_form_for @event, html: {id: 'new-accomodation'} do |f| %>
              <%= f.input :accomodation_address, :input_html => { :class => "address-autocomplete", :id => "correct-input-address" }, placeholder: "Veuillez renseigner l'adresse de l'hébergement", label: false %>
          </div>
          <%= f.submit "Valider l'adresse", class: 'd-none' , input_html: { onclick: 'Rails.fire(this.form, "submit")'} %>
        <%end%>
      <%# end %>
    </div>

    <div id="list-tags-thematics">
      <%# sugg = [] %>
      <%# @survey.suggestions.where(topic: "Thématiques").each do |suggestion| %>
        <%# sugg << suggestion.value %>
      <%# end %>
      <%# sugg %>

      <% Event::THEMATICS.each do |thematic| %>
        <%# if sugg.include?(thematic) %>
        <% if thematic == "Sports nautiques" || thematic == "Gastronomie"%>
          <div class="thematic-tag mr-3 mb-3 green">
            <a><%= thematic %></a>
          </div>
        <% else %>
          <div class="thematic-tag mr-3 mb-3">
            <a><%= thematic %></a>
          </div>
        <% end %>
      <%end%>
    </div>

    <div class="row">
      <div class="col-7 lr-cards">
        <% @activities.each do |activity| %>
        <div class="lr-card">
  <!-- DIV PHOTO BG + TROPHEE (début) -->
          <div class="cardp" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path activity.main_photo, height: 300, width: 400, crop: :fill; %>')">
            <% if @favorited_activities.include?(activity) %>
              <div class="award">
                <p class="trophy trophy-award">Dans ma liste</p>
              </div>
            <% end %>
          </div>
  <!-- DIV PHOTO BG + TROPHEE (fin) -->
            <div class="lr-card-info" id="list-activities">
              <div class="price">
                <h2> <%= activity.unit_price %>€</h2>
                <p id="light-details">/pers.</p>
              </div>
              <!-- <div class="favorite-activity"> -->
                <%# if @favorited_activities.include?(activity) %>
<!--                   <div>
                    <p>Déjà dans ma liste</p>
                  </div> -->
                <%#end%>
                  <%# event_activity = @event_activities.find_by(activity_id: activity.id) %>
                    <!-- <i class="fas fa-heart"></i> -->
                  <%# end %>
                <%# else %>
                  <%#= link_to event_activity_event_activities_path(@event, activity), method: :post, class: "favorite" do %>
                    <!-- <i class="far fa-heart"></i> -->
                  <%# end %>
                <%# end %>
              <!-- </div> -->
              <div class="title-city">
                <h3> <%= activity.title %> </h3>
                <%if activity.geocoded? %>
                  <p id="light-details-ville"> <%= Geocoder.search(activity.address).first.city %> </p>
                <% end %>
              </div>
              <div class="list-details">
                <ul>
                  <li><i class="fas fa-users each-logo"></i> <%= activity.duration %> min</li>
                    <% if activity.min_number_of_participants == activity.max_number_of_participants && activity.min_number_of_participants == 1 %>
                      <li><i class="fas fa-hourglass-end each-logo"></i> 1 participant </li>
                    <% elsif activity.min_number_of_participants == activity.max_number_of_participants %>
                      <li><i class="fas fa-hourglass-end each-logo"></i> <%= activity.min_number_of_participants %> participants </li>
                    <% else %>
                      <li><i class="fas fa-hourglass-end each-logo"></i> <%= activity.min_number_of_participants %>-<%= activity.max_number_of_participants %> participants </li>
                    <% end %>

                  <li><i class="fas fa-child each-logo"></i><%= activity.min_age %>ans min.</li>
                </ul>
              </div>
              <div class="button-secondary" id="discover-button"> <%= link_to "Découvrir", event_activity_path(@event, activity) %>
                </div>
            </div>
        </div>
        <%end%>
      </div>


      <div class="col-5">
        <div
          id="map"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="pk.eyJ1IjoiY2FtaWxsZWR0eSIsImEiOiJjanpsMTVrZWcwaXQ3M2RuMG1rM242Y3FtIn0.wDpYPwI1WAXhfDMZggbOXw">
        </div>
      </div>

    </div>
  </div>

