<div class="container">
  <h3> Sondage : <%= @event.name %> </h3>
  <p> A vos votes ! Pour organiser un séjour au top, j'ai besoin de votre avis ! </p>

  <div id="suggestions-disponibility">
    <h4>Disponibilités</h4>
    <div id="suggestions-dates">
      <%= simple_form_for @choice do |f| %>
        <%= f.association :suggestion, collection: @suggestions_dates, label_method: :start_date, value_method: :id, include_blank: false, as: :check_boxes %>
        <%= f.submit %>
      <%end%>
    </div>
  </div>

  <div id="suggestions-budget">
    <h4>Budget max/pers</h4>
    <%#= simple_form_for @choice do |f| %>
    <%#= f.input :value, as: :range, class: 'range', collection: 0..10 %>
    <%#end%>
  </div>

  <div id="suggestions-destination">
    <h4>Destination</h4>
    <div id="suggestions-destinations">
      <%= simple_form_for @choice do |f| %>
        <%= f.association :suggestion, collection: @suggestions_destination, label_method: :value, value_method: :id, include_blank: false %>
        <%= f.submit %>
      <%end%>
    </div>
  </div>

  <div id="suggestions-thématiques">
    <h4>Thématiques</h4>

  </div>
</div>

