<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>joorney</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <!-- <script src="countdown.js"></script> -->

    <!-- piechart.js -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="jquery.easypiechart.js"></script>
    <script>
      $(function() {
          $('.chart').easyPieChart({
            //your options goes here
            size: 180,
            barColor: 'blue',
            scaleColor: false,
            lineWidth: 10,
            // trackColor: 'gray',
            lineCap: 'circle',
            animate: 1000 // animation time
          });
      });
    </script> -->

  </body>
</html>
